

@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('http://fxaeberhard.github.io/handdrawn.css/handdrawn.min.css');
@import url('./styles/doodle.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

@import url('./styles/doodle.css');

body {
  background: #fdf7f1;
  font-family: "Mynerve", cursive;

}
h2 {
  font-weight: 200;
  font-style: normal;
}

#navbar a.active {
  text-decoration: line-through;
}

.designer-text {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.developer-text {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}